{% extends 'admin/base.html.twig' %}

{% block title %}New ModelCv{% endblock %}

{% block body %}
    <h1>Create new ModelCv</h1>

    {# {{ include('admin_model_cv/_form.html.twig') }} #}

    {# <a href="{{ path('admin_model_cv_index') }}">back to list</a> #}
{% endblock %}
